/***! Oeil !***/
body.dark-theme .eye {
  display: block;
}
body.dark-theme .logo {
  display: none;
}
.eye {
  display: none;
  z-index: -2;
  width: 7rem;
  height: 7rem;
  background: rgb(255, 255, 255);
  transform: rotate(45deg);
  border: rgb(0, 0, 0) 1px solid;
  border-radius: 75% 0;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.5s, background-color 0.9s ease-in-out;
}

.ball {
  width: 17%;
  height: 17%;
  background: #000;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: eye-move 10s ease-in infinite;
}

.ball::before {
  content: "";
  position: absolute;
  top: -0.9rem;
  left: -0.9rem;
  width: calc(100% + 1.8rem);
  height: calc(100% + 1.8rem);
  border: 0.9rem solid rgb(90, 90, 90);
  border-radius: 50%;
  transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.eye:hover .ball::before {
  border-color: rgb(156, 13, 13);
  transform: scale(1.1);
}

.eye:hover {
  background-color: #ffe3e3;
}

.ball::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.eye:hover .ball::after {
  transform: scale(1.5);
}

.shut {
  width: 10rem;
  height: 10rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  z-index: 9;
}

.shut span {
  display: block;
  position: relative;
  top: 10%;
  left: 0;
  width: 100%;
  height: 20%;
  background: rgb(27, 27, 27);
  border-radius: 300%;
  transition: height 0.9s ease-in-out;
  animation: changeHeight 30s ease-in-out infinite;
  border: rgb(44, 44, 44) 1px solid;
}

@keyframes eye-move {
  0%,
  15% {
    transform: translate(-50%, -50%);
  }
  20%,
  35% {
    transform: translate(-10%, -100%);
  }
  40%,
  55% {
    transform: translate(-100%, -10%);
  }
  60%,
  75% {
    transform: translate(-50%, -40%);
  }
  80%,
  95% {
    transform: translate(-60%, -50%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes changeHeight {
  0%,
  1% {
    height: 100%;
    border-radius: 70%;
  }
  2% {
    height: 8%;
    border-radius: 0;
  }
  3% {
    height: 100%;
    border-radius: 70%;
  }
  4%,
  15% {
    height: 19%;
    border-radius: 0;
  }
  16% {
    height: 100%;
    border-radius: 70%;
  }
  17%,
  46% {
    height: 12%;
    border-radius: 0;
  }
  48% {
    height: 100%;
    border-radius: 70%;
  }
  49% {
    height: 20%;
    border-radius: 0;
  }
  52% {
    height: 100%;
    border-radius: 70%;
  }
  53%,
  98% {
    height: 9%;
    border-radius: 0;
  }
  100% {
    height: 100%;
    border-radius: 70%;
  }
}
